#gameCanvas {
    position: absolute;
    width: 800px;
    height: 500px;
    border: solid black 1px;
    background: black;
    top: 50%;
    left: 20%;
    margin-left: -250px;
    margin-top: -250px;

}

#extraCanvas {
    position: absolute;
    width: 300px;
    height: 500px;
    border: solid black 1px;
    background: black;
    top: 50%;
    left: 80%;
    margin-left: -250px;
    margin-top: -250px;

}

.h1class {
    position: relative;
    color: white;
    margin-left: 25%;
}

.mainpagebutton {
    top: 50%;
    left: 50%;
    margin-left: 25%;
}
#toplistButton {
    top: 50%;
    left: 50%;
    margin-left: 25%;
}
.fullField {
    border: solid white 1px;
    background: red;
    position: absolute;
    z-index: 0;
}

.emptyField {
    border: solid white 1px;
    background: gray;
    position: absolute;
    z-index: 0;
}

#timerDisplay {
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
    font-size: 20px;
    fontSize: 24px;
    fontWeight: bold;
    background: gray;
}

#stepCounter {
    position: absolute;
    top: 50px;
    left: 10px;
    color: red;
    font-size: 20px;
    fontSize: 24px;
    fontWeight: bold;
    background: gray;
}

#scoreCounter {
    position: absolute;
    top: 90px;
    left: 10px;
    color: red;
    font-size: 20px;
    fontSize: 24px;
    fontWeight: bold;
    background: gray;
}

#mainScoreCounter {
    position: absolute;
    top: 140px;
    left: 10px;
    color: red;
    font-size: 20px;
    fontSize: 24px;
    fontWeight: bold;
    background: gray;
}


