#gameCanvas {
    position: absolute;
    width: 800px;
    height: 500px;
    border: solid black 1px;
    background: black;
    top: 50%;
    left: 20%;
    margin-left: -250px;
    margin-top: -250px;
}

#extraCanvas {
    position: absolute;
    width: 300px;
    height: 500px;
    border: solid black 1px;
    background: black;
    top: 50%;
    left: 75%;
    margin-left: -250px;
    margin-top: -250px;
}


.h1class {
    position: relative;
    color: white;
    margin-left: 25%;
}

.mainpagebutton {
    top: 50%;
    left: 50%;
    margin-left: 25%;
}
.fullField {
    border: solid white 1px;
    background: red;
    position: absolute;
    z-index: 0;
}

.emptyField {
    border: solid white 1px;
    background: gray;
    position: absolute;
    z-index: 0;
}

#timerDisplay {
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
    font-size: 20px;
    background: gray;
}
#text {
    position: absolute;
    top: 200px;
    left: 10px;
    color: red;
    font-size: 20px;
    background: gray;
}
#mainScoreCounter {
    position: absolute;
    top: 140px;
    left: 10px;
    color: red;
    font-size: 20px;
    background: gray;
}

#stepCounter {
    position: absolute;
    top: 50px;
    left: 10px;
    color: red;
    font-size: 20px;
    background: gray;
}

#scoreCounter {
    position: absolute;
    top: 90px;
    left: 10px;
    color: red;
    font-size: 20px;
    background: gray;
}

#toplistContainer {
    margin-left: 10px;
    margin-top: 30%;
    padding: 10px;
}

.tableFormat {
    margin-left: 5px;
    border: 1px solid white;
    color: red;
    padding: 10px;
    margin-top: 20px;
}
